/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
	cursor: pointer;
}

#myModal .editing .view,  #myModal .edit{
    display: none;
}
#myModal .view,  #myModal .editing .edit{
    display: inline-block;
}

/* ==========================================================================
   Overide bootstap styles
   ========================================================================== */
.thumbnail {
	display: inline-table;
}

