/* TYPOGRAPHY OPTION 2 */

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/Chunkfive-webfont.eot');
	src: local('?'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.svg#webfontb5K2fJwj') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'CartoGothic';
	src: url('fonts/CartoGothicStd-Book-webfont.eot');
	src: local('?'), url('fonts/CartoGothicStd-Book-webfont.woff') format('woff'), url('fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'), url('fonts/CartoGothicStd-Book-webfont.svg#webfontiSSvHuvy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CartoGothic';
	src: url('fonts/CartoGothicStd-Italic-webfont.eot');
	src: local('?'), url('fonts/CartoGothicStd-Italic-webfont.woff') format('woff'), url('fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype'), url('fonts/CartoGothicStd-Italic-webfont.svg#webfontVz7NhMTG') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'CartoGothic';
	src: url('fonts/CartoGothicStd-Bold-webfont.eot');
	src: local('?'), url('fonts/CartoGothicStd-Bold-webfont.woff') format('woff'), url('fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'), url('fonts/CartoGothicStd-Bold-webfont.svg#webfontXG7opWym') format('svg');
	font-weight: bold;
	font-style: normal;
}



/* Elements */

body, td, p, p a, input, span { font-family: 'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif}

strong { font-weight: bold }

a { text-decoration: none }

h1, h2, h3, h4, .logo, #top-nav, #super-header .menu>ul a,#slideshow .video .play-video { font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; font-weight: normal; }

.btn, #main-nav, #header .menu>ul {font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif;}

#main-nav li a, #header .menu>ul li a { line-height: 32px }
#main-nav .active a, #header .menu>ul .active a { line-height: 38px}

#header .menu>ul .sub-menu li a, #main-nav .sub-menu li a {
	font-family:'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif; 
}

h1 { font-size: 40px;margin-bottom: 30px }
h2 { font-size: 36px; line-height: 1.1 }
h2.updates { font-size: 36px; font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; }
h3 { font-size: 32px }
h4 { font-size: 26px }
h5 { font-size: 18px; font-weight: bold }
h6 { font-size: 16px; font-weight: normal }

.btn { font-size: 18px; letter-spacing: 0 }

#blog-nav a { font-size: 18px }
#homepage-widgets h3 a, #homepage-widgets h3 { font-family:'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; font-size: 24px; letter-spacing: 0 }
#homepage-widgets .widget p { font-size: 14px}
#homepage-widgets .widget .btn { font-size: 14px}

#contact-us .blurb { font-size: 18px; font-family:  'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif;  }
#contact-us .contact-us { line-height: 1.3; font-size: 22px; font-family:'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; font-weight: normal }
#contact-us .contact-us em { font-family:  'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif; letter-spacing: 0 }

#sidebar .widget h4, #sidebar .widget h4 a { font-size: 22px; font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; line-height: 30px}
#sidebar .widget, #sidebar .widget p { font-size: 12px; line-height: 1.8}
#sidebar ul li a { font-size: 12px; line-height: 2.3; padding-left: 5px}


/* Specific */

#top-nav, #super-header .menu>ul { font-size: 15px }
#top-nav a, #super-header .menu>ul a {font-family: 'CartoGothic'; font-weight: normal}
.logo { font-size: 34px; font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; line-height: 60px }

#slideshow h2 a { font-size: 30px; font-family:'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; font-weight: normal }
#slideshow p { font-size: 16px; line-height: 1.5 }
#slideshow .btn { line-height: 1.2}

#main-nav a, #header .menu>ul a { font-size: 18px }

#footer p { font-family: 'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif; line-height: 1.8; font-size: 16px}
#footer .widget h3 { font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; font-size: 16px; letter-spacing: 0; margin-bottom: 10px}
#footer .widget, #footer .widget p { font-family:  'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif; font-size: 12px; line-height: 2 }

#blog-nav .btn a {font-family: 'CartoGothic', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold }

/* Posts */

.post h3 { font-family: 'ChunkFive', 'ChunkFiveRegular', Georgia, Serif; font-size: 28px; line-height: 1.1; margin-top: 5px }
.post .date {font-family:  'ChunkFive', 'ChunkFiveRegular', Georgia, Serif ;line-height: 1.2}
.post-content .info {  font-size: 12px }

.post .keep-reading .btn { font-size: 14px; }