/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
	cursor: pointer;
}

#myModal .editing .view,  #myModal .edit{
    display: none;
}
#myModal .view,  #myModal .editing .edit{
    display: inline-block;
}
#page-loader {
	background-image: url("../../images/userboard/loader-bar.gif");
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
	width: 220px;
	height: 40px;
	display: block;
	position:fixed;
	top: 50%;
	left: 40%;
	z-index: 100;
}

#super-header {
	text-align: right;	
}

.user-block {
	background-image: url("../../images/userboard/participant.png");
	background-repeat: no-repeat;
	display: inline-table;
	width: 196px;
	height: 268px;
	text-align: center;
	float: left;
}

.user-block.organizer {
	background-image: url("../../images/userboard/organizer.png");
}

.user-block.mentor {
	background-image: url("../../images/userboard/mentor.png");
}

.user-block-profile-picture {
	height: 179px;
	width: 179px;
	background-position: center;
	background-size: cover;
	border-radius: 3px 3px 0 0;
	margin: 10px 0 0 11px;
}

.user-block h5 {
	margin-top: 13px;
	margin-left: 6px;
	color: #fff;
    text-align: center;
    text-shadow: 1px 2px #444;
}

.user-block h6 {
	color: #fff;
	text-shadow: 1px 1px #222;
	margin-top: 14px;
	margin-left: 6px;
	text-transform: uppercase;
	font-size: 8px;
	letter-spacing: 1px;
}

#user-details {
	text-align: center;
	width: 400px;
}
#user-details dd {
	text-align: left;
}

.modal-profile-picture {
	margin-top: 10px;	
}

/* ==========================================================================
   Overide bootstap styles
   ========================================================================== */
.btn:hover {
	background-image: none;
}

.thumbnail {
	display: inline-table;
	width: 180px;
}
.thumbnails {
	margin: 0 -13px;
}

.thumbnails>li {
	margin-left: 0;	
}

.modal {
	max-height: 80%;
	overflow: auto;
}

.modal-footer {
	margin-top: 10px;
}


